@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, #slider, .main, .slide-content{
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    font-family: 'Raleway', sans-serif;
}
header{
    width: 100%;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    color: black;
    margin-top: 5px;
    margin-bottom: 10px;
}
.logo h1{
    letter-spacing: 5px;
}
.logo h5{
    letter-spacing: 10px;
}
.hamburger{
    position: absolute;
    top: .5rem;
    right: .75rem;
}
.hamburger:hover{
    cursor: pointer;
}
.hamburger span{
    display: none;
    background: #222;
    margin: 6px 0;
    height: 4px;
    width: 32px;
    border-radius: 2px;
    position: relative;
    transition: .3s;
}
.change.bar-one{
 top: 10px;
 transform: rotate(45deg);
}
.change.bar-two{
    opacity: 0;
}
.change.bar-three{
 bottom: 10px;   
 transform: rotate(-45deg);
 
}
.menu{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.list__item{
    list-style-type: none;
}
.list__item a{
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 20px;
    padding: 17px;
    color: black;
    font-size: 1.2rem;
}
.main{
    position: relative;
}
.slide{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
.slide1{
    background-image: url('../images/image1.jpg');
    background-position: bottom center;   
   
}
.slide2{
    background-image: url('../images/image2.jpg');
}
.slide3{
    background-image: url('../images/image3.jpg');
}
.slide4{
    background-image: url('../images/image4.jpg');
}
.slide5{
    background-image: url('../images/image5.jpg');
}
.slide6{
    background-image: url('../images/image6.jpg');
}
.slide-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide-content span{
    font-size: 5rem;
    color: #fff;
}
.arrow{
   cursor: pointer; 
   position: absolute;
   top: 50%;
   margin-top: -35px;
   width: 0;
   height: 0;
   border-style: solid;
}
#arrow-left{
    border-width: 30px 40px 30px 0;
    border-color: transparent #fff transparent transparent;
    left: 0;
    margin-left: 30px;
}
#arrow-right{
    border-width: 30px 0 30px 40px;
    border-color: transparent transparent transparent #fff;
    right: 0;
    margin-right: 30px;
}
/**Media Queries**/
@media (max-width:1374px){
    .slide-content #text{
        font-size: 2.5rem;
    }
}    
@media (max-width:752px){
    header{
        flex-direction: column;
        align-items: flex-start;
    }
    .logo h1{
        font-size: 2rem;
    }
    .logo h5{
        font-size: 1rem;
        letter-spacing: 5px;
    }
    .hamburger span{
        display: block;
    }
    .menu{
       flex-direction: column;
       width: 100%;
       display: none;
    }
    .menu.open{
        display: flex;
    }
    .list__item{
        width: 100%;
        text-align: center;
        margin: 1rem 0;
    }
    #arrow-left{
        border-width: 20px 30px 20px 0;
        border-color: transparent #fff transparent transparent;
        left: 0;
        margin-left: 10px;
    }
    #arrow-right{
        border-width: 20px 0 20px 30px;
        border-color: transparent transparent transparent #fff;
        right: 0;
        margin-right: 10px;
    }  
    .arrow{ 
        position: absolute;
        top: 50%;
        margin-top: -25px;
        width: 0;
        height: 0;
     }
     .slide-content #text{
        font-size: 1.5rem;
     }
   }
   @media (max-width:462px){
    .slide-content #text{
        font-size: 1.2rem;
    }
   }
   @media(min-width: 320px) and (max-width: 374px){
    .logo h1{
        font-size: 1.5rem;
       }
    .logo h5{
        letter-spacing: 5px;
    }
    .slide-content #text{
        font-size: 1rem;
     }
   }
   
